root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{lua,obj,anm,scn,cam,tra}]
charset = shift_jis
indent_size = 2
indent_style = space
end_of_line = crlf

[*.{html,css,js}]
indent_size = 2
charset = utf-8

[*.svg]
indent_size = 2
charset = utf-8
